{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Customers list
{% endblock title %}

{% block content %}
<div class="container pb-5">

    <p class="h2 mt-2">Create New Customer</p>

    <form class="col-md-6" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success">Create <i class="fa-solid fa-floppy-disk"></i></button>
        <a href="" class="btn btn-warning">Cancel <i class="fa-solid fa-xmark"></i></a>
    </form>

</div>
{% endblock content %}